body {
  background-color: rgb(115, 168, 87);
}

.App {
  display: grid;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
}

.editor {
  width: 800px;
  min-height: 175px;
}

.preview {
  height: 600 px;
  width: 800 px;
  max-width: 1200 px;
  background-color: hsl(0, 0%, 100%);
  overflow: auto;
  padding: 20 px;
}

.preview img {
  max-width: 100%;
}